/* autoprefixer grid: autoplace */

.companyRow{
  display:grid;
  grid-template: 'logo name'
    'logo city'
    'specialities specialities';
  grid-template-columns: 6rem 1fr;
  padding: 1.5rem;
  gap: 1.5rem;
  border-bottom: .1rem solid #CCC;
  &__mobileLabel{
    font-size: bold;
  }
  &__name{
    font-weight: bold;
    grid-area: name;
  }
  &__logo{
    width:6.0rem;
    grid-area: logo;
  }
  &__specialities{
    grid-area: specialities;
  }
  &__city{
    grid-area: city;
  }
  @media (min-width: calc(801rem / 16) ){
    display:flex;
    width:100%;
    align-items: center;
    padding: 1.5rem;
    &__name{
      width: 30%;
      display:flex;
    }
    &__logo{
      width: 10%;
      display:flex;
    }
    &__specialities{
      width: 40%;
      display:flex;
    }
    &__city{
      width: 20%;
      display:flex;
    }
    &__mobileLabel{
      display:none
    }
  }
}