.CompaniesTable{
    border:1px solid #CCC;
    .logo {
        background-position: center;
        background-size: cover;
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 25px;
    }
    
    .speciality__tag {
        display: inline-block;
        background-color: #ccc;
        padding: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 800px) {
    .topRow {
        display: none;
    }
}
