.Filters{
    .searchtermInput{
        line-height: 30px;
        height: 30px;
        width:100%;
        display: block;
    }
    .speciality{
        display:block;
        padding: 5px;
        .specialityCheck{
        
        }
        .specialityLabel{
            
        }
    }
}